@model ContactForUpdateDto
@{
    ViewBag.Title = "Edit Contact";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Edit Contact</h6>
                <form asp-action="Edit" method="post">
                    <input type="hidden" asp-for="ContactId" />

                    <div class="mb-3">
                        <label asp-for="EmailAddress" class="form-label">Email Address</label>
                        <input asp-for="EmailAddress" class="form-control" type="email" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Message" class="form-label">Message</label>
                        <textarea asp-for="Message" class="form-control"></textarea>
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
